extends layout

block body
  div(ng-controller='AppCtrl', class='chat')
    .status(ng-class='[history.status.connectionStatus, "connection-status"]')
       span {{ history.status.connectionStatus }}

    .header
      h2 This is the fantastic Chat App
        a.link(href='https://github.com/epeld/angular-express-seed/tree/chat-app') Check it
      .user-info
        .info-group
          span.question Your Username:
          input.answer(ng-model='user.name', placeholder='Anon')
    .message-list
      .message(ng-repeat="message in history.messages track by $index",
               ng-class='{ "message--system" : hasTag(message, "system") }',
               ng-click='togglePinnedMessage($index)', class='message__body')

          span(ng-hide='hasTag(message, "system")', class='message__from') {{ message.from || 'Anon' }}:

          span.message__content 
            span {{ message.message }}

          .tags
            span.tag(ng-repeat="tag in message.tags || [] track by $index", ng-style='{ "color" : getTagColor(tag) }', class='tag') {{ tag }}
        
    .composer {{ user.name || 'Anon' }} says:
        textarea(name='message', ng-model='nextMessage.message', placeholder='Type your message here', class='message-area')
        button(ng-disabled='!nextMessage.message', ng-click="send()", class='button--send') Send


    .message__raw {{ prettyJSON(pinnedData || {}) }}

  script(src='js/lib/socket.io.js')
  script(src='js/lib/angular.js')
  script(src='js/lib/angular-route.js')
  script(src='js/socket.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
