extends layout

block body
  div(ng-controller='AppCtrl')
    h2 This is the fantastic Chat App
    p Messages will appear here.
    .message-list
      .message(ng-repeat="message in history.messages")
        p {{ message.message }}
    .composer Type your message:
        textarea(name='message', ng-model='nextMessage.message', placeholder='Type your message here')
        button(ng-enable='!!nextMessage.message', ng-click="send()") Send

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
