
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
}

.message-list {
    padding: 1em;
    border: dashed 2px black;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

.message {
    margin-bottom: 1em;
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.message__from {
    margin-right: 0.5em;
}

.message__content {
    flex-grow: 1;
}

.message__raw {
    padding: 0.5em;
    font-size: smaller;
    color: gray;
    text-align: right;
}

.message__content {

}

.tag {
    border-radius: 0.3em;
    border: solid 1px lightgray;
    padding: 0.25em 0.5em;
}

.message--system {
    color: silver;
    font-size: 0.8em;
}

.link {
    font-size: small;
    margin-left: 1.5em;
}

.user-info {
    margin-bottom: 1em;
}

.question {
    margin-right: 1em;
}

.composer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.message-area {
    flex-grow: 1;
    margin: 1.5em 2em;
}

.button--send {
    padding: 1em;
}

.connected {
    color: green;
}

.connecting {
    color: lightgreen;
}

.disconnected {
    color: red;
}

.connection-status {
    text-align: right;
    font-size: smaller;
}
