
.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
}

.message-list {
    padding: 1em;
    border: dashed 2px black;
    flex-grow: 1;
    overflow: auto;
    position: relative;
}

.message {
    margin-bottom: 0.5em;
}

.message__raw {
    padding: 0.5em;
    font-size: smaller;
    color: gray;
    text-align: right;
}

.message--system {
    color: silver;
    font-size: 0.8em;
}

.link {
    font-size: small;
    margin-left: 1.5em;
}

.user-info {
    margin-bottom: 1em;
}

.question {
    margin-right: 1em;
}

.composer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.message-area {
    flex-grow: 1;
    margin: 1.5em 2em;
}

.button--send {
    padding: 1em;
}